# This is the domain to access your minikube instance
export LOCAL_DOMAIN="minikube.local"

# On Mac this is (supposed to be) the fastest and most reliabe driver
export MINIKUBE_VM_DRIVER=hyperkit

# Since the version of Minikube is locked for this environment,
# disable the notification reminding you to upgrade
export MINIKUBE_WANTUPDATENOTIFICATION=false

# Enable RBAC like Production Kubernetes Clusters would have
export MINIKUBE_EXTRA_CONFIG="apiserver.authorization-mode=RBAC,controller-manager.cluster-signing-cert-file=/var/lib/localkube/certs/ca.crt,controller-manager.cluster-signing-key-file=var/lib/localkube/certs/ca.key"
